[submodule "modules/external/stb"]
	path = modules/external/stb
	url = https://github.com/nothings/stb.git
[submodule "modules/BearSSL"]
	path = modules/BearSSL
	url = https://www.bearssl.org/git/BearSSL
